<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hello.corebanking.domain.product.repository.LoanProductMapper">

    <resultMap id="loanProductResultMap" type="hello.corebanking.domain.product.entity.LoanProduct">
        <id     property="loanProductId"   column="loan_product_id"/>
        <result property="interestType"    column="interest_type_id"
                typeHandler="hello.corebanking.global.config.typehandler.InterestTypeTypeHandler"/>
        <result property="repaymentMethod" column="repayment_method_id"
                typeHandler="hello.corebanking.global.config.typehandler.RepaymentMethodTypeHandler"/>
        <result property="name"            column="name"/>
        <result property="additionalRate"  column="additional_rate"/>
        <result property="createdAt"       column="created_at"/>
        <result property="updatedAt"       column="updated_at"/>
    </resultMap>

    <insert id="insert" parameterType="hello.corebanking.domain.product.entity.LoanProduct"
            useGeneratedKeys="true" keyProperty="loanProductId">
        INSERT INTO loan_product (interest_type_id, repayment_method_id, name, additional_rate)
        VALUES (
            #{interestType, typeHandler=hello.corebanking.global.config.typehandler.InterestTypeTypeHandler},
            #{repaymentMethod, typeHandler=hello.corebanking.global.config.typehandler.RepaymentMethodTypeHandler},
            #{name},
            #{additionalRate}
        )
    </insert>

    <select id="findById" parameterType="long" resultMap="loanProductResultMap">
        SELECT loan_product_id, interest_type_id, repayment_method_id, name, additional_rate, created_at, updated_at
        FROM loan_product
        WHERE loan_product_id = #{loanProductId}
    </select>

    <select id="findAll" resultMap="loanProductResultMap">
        SELECT loan_product_id, interest_type_id, repayment_method_id, name, additional_rate, created_at, updated_at
        FROM loan_product
        ORDER BY loan_product_id
    </select>

</mapper>
